/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   Css-Reset
*/
/* line 19, ../sass/reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  overflow-y: none;
}

/* HTML5 display-role reset for older browsers */
/* line 30, ../sass/reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 33, ../sass/reset.scss */
body {
  line-height: 1;
}

/* line 36, ../sass/reset.scss */
ol, ul {
  list-style: none;
}

/* line 39, ../sass/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 43, ../sass/reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 47, ../sass/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ==== Css Reset ==== */
/* line 44, ../sass/grid.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 48, ../sass/grid.scss */
.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}
@media only screen and (min-width: 768px) {
  /* line 48, ../sass/grid.scss */
  .container {
    width: 65%;
  }
}

/* line 52, ../sass/grid.scss */
.row {
  width: 100%;
  font-size: 0;
}

/* line 58, ../sass/grid.scss */
.col-1-1 {
  width: 99.6%;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 1em;
  margin: 0.2%;
  border: 1px solid white;
  color: white;
}
@media only screen and (min-width: 768px) {
  /* line 58, ../sass/grid.scss */
  .col-1-1 {
    width: 99.6%;
    vertical-align: top;
  }
}

/* line 63, ../sass/grid.scss */
.col-1-2 {
  width: 99.6%;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 1em;
  margin: 0.2%;
  border: 1px solid white;
  color: white;
}
@media only screen and (min-width: 768px) {
  /* line 63, ../sass/grid.scss */
  .col-1-2 {
    width: 49.6%;
    vertical-align: top;
  }
}

/* line 66, ../sass/grid.scss */
.col-2-2 {
  width: 99.6%;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 1em;
  margin: 0.2%;
  border: 1px solid white;
  color: white;
}
@media only screen and (min-width: 768px) {
  /* line 66, ../sass/grid.scss */
  .col-2-2 {
    width: 49.6%;
    vertical-align: top;
  }
}

/* line 71, ../sass/grid.scss */
.col-1-3 {
  width: 99.6%;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 1em;
  margin: 0.2%;
  border: 1px solid white;
  color: white;
}
@media only screen and (min-width: 768px) {
  /* line 71, ../sass/grid.scss */
  .col-1-3 {
    width: 32.93333%;
    vertical-align: top;
  }
}

/* line 74, ../sass/grid.scss */
.col-2-3 {
  width: 99.6%;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 1em;
  margin: 0.2%;
  border: 1px solid white;
  color: white;
}
@media only screen and (min-width: 768px) {
  /* line 74, ../sass/grid.scss */
  .col-2-3 {
    width: 32.93333%;
    vertical-align: top;
  }
}

/* line 77, ../sass/grid.scss */
.col-3-3 {
  width: 99.6%;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 1em;
  margin: 0.2%;
  border: 1px solid white;
  color: white;
}
@media only screen and (min-width: 768px) {
  /* line 77, ../sass/grid.scss */
  .col-3-3 {
    width: 32.93333%;
    vertical-align: top;
  }
}

/* line 82, ../sass/grid.scss */
.col-1-4 {
  width: 99.6%;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 1em;
  margin: 0.2%;
  border: 1px solid white;
  color: white;
}
@media only screen and (min-width: 768px) {
  /* line 82, ../sass/grid.scss */
  .col-1-4 {
    width: 24.6%;
    vertical-align: top;
  }
}

/* line 86, ../sass/grid.scss */
.col-2-4,
.col-3-4 {
  width: 99.6%;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 1em;
  margin: 0.2%;
  border: 1px solid white;
  color: white;
}
@media only screen and (min-width: 768px) {
  /* line 86, ../sass/grid.scss */
  .col-2-4,
  .col-3-4 {
    width: 24.6%;
    vertical-align: top;
  }
}

/* line 89, ../sass/grid.scss */
.col-4-4 {
  width: 99.6%;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 1em;
  margin: 0.2%;
  border: 1px solid white;
  color: white;
}
@media only screen and (min-width: 768px) {
  /* line 89, ../sass/grid.scss */
  .col-4-4 {
    width: 24.6%;
    vertical-align: top;
  }
}

/* line 94, ../sass/grid.scss */
.col-1-5 {
  width: 99.6%;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 1em;
  margin: 0.2%;
  border: 1px solid white;
  color: white;
}
@media only screen and (min-width: 768px) {
  /* line 94, ../sass/grid.scss */
  .col-1-5 {
    width: 19.6%;
    vertical-align: top;
  }
}

/* line 99, ../sass/grid.scss */
.col-2-5,
.col-3-5,
.col-4-5 {
  width: 99.6%;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 1em;
  margin: 0.2%;
  border: 1px solid white;
  color: white;
}
@media only screen and (min-width: 768px) {
  /* line 99, ../sass/grid.scss */
  .col-2-5,
  .col-3-5,
  .col-4-5 {
    width: 19.6%;
    vertical-align: top;
  }
}

/* line 102, ../sass/grid.scss */
.col-5-5 {
  width: 99.6%;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 1em;
  margin: 0.2%;
  border: 1px solid white;
  color: white;
}
@media only screen and (min-width: 768px) {
  /* line 102, ../sass/grid.scss */
  .col-5-5 {
    width: 19.6%;
    vertical-align: top;
  }
}

/* line 107, ../sass/grid.scss */
.col-1-6 {
  width: 99.6%;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 1em;
  margin: 0.2%;
  border: 1px solid white;
  color: white;
}
@media only screen and (min-width: 768px) {
  /* line 107, ../sass/grid.scss */
  .col-1-6 {
    width: 16.26667%;
    vertical-align: top;
  }
}

/* line 113, ../sass/grid.scss */
.col-2-6,
.col-3-6,
.col-4-6,
.col-5-6 {
  width: 99.6%;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 1em;
  margin: 0.2%;
  border: 1px solid white;
  color: white;
}
@media only screen and (min-width: 768px) {
  /* line 113, ../sass/grid.scss */
  .col-2-6,
  .col-3-6,
  .col-4-6,
  .col-5-6 {
    width: 16.26667%;
    vertical-align: top;
  }
}

/* line 116, ../sass/grid.scss */
.col-6-6 {
  width: 99.6%;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 1em;
  margin: 0.2%;
  border: 1px solid white;
  color: white;
}
@media only screen and (min-width: 768px) {
  /* line 116, ../sass/grid.scss */
  .col-6-6 {
    width: 16.26667%;
    vertical-align: top;
  }
}

/* line 121, ../sass/grid.scss */
.col-1-7 {
  width: 99.6%;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 1em;
  margin: 0.2%;
  border: 1px solid white;
  color: white;
}
@media only screen and (min-width: 768px) {
  /* line 121, ../sass/grid.scss */
  .col-1-7 {
    width: 13.88571%;
    vertical-align: top;
  }
}

/* line 128, ../sass/grid.scss */
.col-2-7,
.col-3-7,
.col-4-7,
.col-5-7,
.col-6-7 {
  width: 99.6%;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 1em;
  margin: 0.2%;
  border: 1px solid white;
  color: white;
}
@media only screen and (min-width: 768px) {
  /* line 128, ../sass/grid.scss */
  .col-2-7,
  .col-3-7,
  .col-4-7,
  .col-5-7,
  .col-6-7 {
    width: 13.88571%;
    vertical-align: top;
  }
}

/* line 131, ../sass/grid.scss */
.col-7-7 {
  width: 99.6%;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 1em;
  margin: 0.2%;
  border: 1px solid white;
  color: white;
}
@media only screen and (min-width: 768px) {
  /* line 131, ../sass/grid.scss */
  .col-7-7 {
    width: 13.88571%;
    vertical-align: top;
  }
}

/* line 136, ../sass/grid.scss */
.col-1-8 {
  width: 99.6%;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 1em;
  margin: 0.2%;
  border: 1px solid white;
  color: white;
}
@media only screen and (min-width: 768px) {
  /* line 136, ../sass/grid.scss */
  .col-1-8 {
    width: 12.1%;
    vertical-align: top;
  }
}

/* line 144, ../sass/grid.scss */
.col-2-8,
.col-3-8,
.col-4-8,
.col-5-8,
.col-6-8,
.col-7-8 {
  width: 99.6%;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 1em;
  margin: 0.2%;
  border: 1px solid white;
  color: white;
}
@media only screen and (min-width: 768px) {
  /* line 144, ../sass/grid.scss */
  .col-2-8,
  .col-3-8,
  .col-4-8,
  .col-5-8,
  .col-6-8,
  .col-7-8 {
    width: 12.1%;
    vertical-align: top;
  }
}

/* line 147, ../sass/grid.scss */
.col-8-8 {
  width: 99.6%;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 1em;
  margin: 0.2%;
  border: 1px solid white;
  color: white;
}
@media only screen and (min-width: 768px) {
  /* line 147, ../sass/grid.scss */
  .col-8-8 {
    width: 12.1%;
    vertical-align: top;
  }
}

/* line 152, ../sass/grid.scss */
.col-1-9 {
  width: 99.6%;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 1em;
  margin: 0.2%;
  border: 1px solid white;
  color: white;
}
@media only screen and (min-width: 768px) {
  /* line 152, ../sass/grid.scss */
  .col-1-9 {
    width: 10.71111%;
    vertical-align: top;
  }
}

/* line 161, ../sass/grid.scss */
.col-2-9,
.col-3-9,
.col-4-9,
.col-5-9,
.col-6-9,
.col-7-9,
.col-8-9 {
  width: 99.6%;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 1em;
  margin: 0.2%;
  border: 1px solid white;
  color: white;
}
@media only screen and (min-width: 768px) {
  /* line 161, ../sass/grid.scss */
  .col-2-9,
  .col-3-9,
  .col-4-9,
  .col-5-9,
  .col-6-9,
  .col-7-9,
  .col-8-9 {
    width: 10.71111%;
    vertical-align: top;
  }
}

/* line 164, ../sass/grid.scss */
.col-9-9 {
  width: 99.6%;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 1em;
  margin: 0.2%;
  border: 1px solid white;
  color: white;
}
@media only screen and (min-width: 768px) {
  /* line 164, ../sass/grid.scss */
  .col-9-9 {
    width: 10.71111%;
    vertical-align: top;
  }
}

/* line 169, ../sass/grid.scss */
.col-1-10 {
  width: 99.6%;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 1em;
  margin: 0.2%;
  border: 1px solid white;
  color: white;
}
@media only screen and (min-width: 768px) {
  /* line 169, ../sass/grid.scss */
  .col-1-10 {
    width: 9.6%;
    vertical-align: top;
  }
}

/* line 179, ../sass/grid.scss */
.col-2-10,
.col-3-10,
.col-4-10,
.col-5-10,
.col-6-10,
.col-7-10,
.col-8-10,
.col-9-10 {
  width: 99.6%;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 1em;
  margin: 0.2%;
  border: 1px solid white;
  color: white;
}
@media only screen and (min-width: 768px) {
  /* line 179, ../sass/grid.scss */
  .col-2-10,
  .col-3-10,
  .col-4-10,
  .col-5-10,
  .col-6-10,
  .col-7-10,
  .col-8-10,
  .col-9-10 {
    width: 9.6%;
    vertical-align: top;
  }
}

/* line 182, ../sass/grid.scss */
.col-10-10 {
  width: 99.6%;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 1em;
  margin: 0.2%;
  border: 1px solid white;
  color: white;
}
@media only screen and (min-width: 768px) {
  /* line 182, ../sass/grid.scss */
  .col-10-10 {
    width: 9.6%;
    vertical-align: top;
  }
}

/* line 187, ../sass/grid.scss */
.col-1-11 {
  width: 99.6%;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 1em;
  margin: 0.2%;
  border: 1px solid white;
  color: white;
}
@media only screen and (min-width: 768px) {
  /* line 187, ../sass/grid.scss */
  .col-1-11 {
    width: 8.69091%;
    vertical-align: top;
  }
}

/* line 198, ../sass/grid.scss */
.col-2-11,
.col-3-11,
.col-4-11,
.col-5-11,
.col-6-11,
.col-7-11,
.col-8-11,
.col-9-11,
.col-10-11 {
  width: 99.6%;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 1em;
  margin: 0.2%;
  border: 1px solid white;
  color: white;
}
@media only screen and (min-width: 768px) {
  /* line 198, ../sass/grid.scss */
  .col-2-11,
  .col-3-11,
  .col-4-11,
  .col-5-11,
  .col-6-11,
  .col-7-11,
  .col-8-11,
  .col-9-11,
  .col-10-11 {
    width: 8.69091%;
    vertical-align: top;
  }
}

/* line 201, ../sass/grid.scss */
.col-11-11 {
  width: 99.6%;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 1em;
  margin: 0.2%;
  border: 1px solid white;
  color: white;
}
@media only screen and (min-width: 768px) {
  /* line 201, ../sass/grid.scss */
  .col-11-11 {
    width: 8.69091%;
    vertical-align: top;
  }
}

/* line 206, ../sass/grid.scss */
.col-1-12 {
  width: 99.6%;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 1em;
  margin: 0.2%;
  border: 1px solid white;
  color: white;
}
@media only screen and (min-width: 768px) {
  /* line 206, ../sass/grid.scss */
  .col-1-12 {
    width: 7.93333%;
    vertical-align: top;
  }
}

/* line 218, ../sass/grid.scss */
.col-2-12,
.col-3-12,
.col-4-12,
.col-5-12,
.col-6-12,
.col-7-12,
.col-8-12,
.col-9-12,
.col-10-12,
.col-11-12 {
  width: 99.6%;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 1em;
  margin: 0.2%;
  border: 1px solid white;
  color: white;
}
@media only screen and (min-width: 768px) {
  /* line 218, ../sass/grid.scss */
  .col-2-12,
  .col-3-12,
  .col-4-12,
  .col-5-12,
  .col-6-12,
  .col-7-12,
  .col-8-12,
  .col-9-12,
  .col-10-12,
  .col-11-12 {
    width: 7.93333%;
    vertical-align: top;
  }
}

/* line 221, ../sass/grid.scss */
.col-12-12 {
  width: 99.6%;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 1em;
  margin: 0.2%;
  border: 1px solid white;
  color: white;
}
@media only screen and (min-width: 768px) {
  /* line 221, ../sass/grid.scss */
  .col-12-12 {
    width: 7.93333%;
    vertical-align: top;
  }
}

/* line 228, ../sass/grid.scss */
.col-1 {
  width: 99.6%;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 1em;
  margin: 0.2%;
  border: 1px solid white;
  color: white;
}
@media only screen and (min-width: 768px) {
  /* line 228, ../sass/grid.scss */
  .col-1 {
    width: 7.93333%;
    vertical-align: top;
  }
}

/* line 232, ../sass/grid.scss */
.col-2 {
  width: 99.6%;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 1em;
  margin: 0.2%;
  border: 1px solid white;
  color: white;
}
@media only screen and (min-width: 768px) {
  /* line 232, ../sass/grid.scss */
  .col-2 {
    width: 16.26667%;
    vertical-align: top;
  }
}

/* line 236, ../sass/grid.scss */
.col-3 {
  width: 99.6%;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 1em;
  margin: 0.2%;
  border: 1px solid white;
  color: white;
}
@media only screen and (min-width: 768px) {
  /* line 236, ../sass/grid.scss */
  .col-3 {
    width: 24.6%;
    vertical-align: top;
  }
}

/* line 240, ../sass/grid.scss */
.col-4 {
  width: 99.6%;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 1em;
  margin: 0.2%;
  border: 1px solid white;
  color: white;
}
@media only screen and (min-width: 768px) {
  /* line 240, ../sass/grid.scss */
  .col-4 {
    width: 32.93333%;
    vertical-align: top;
  }
}

/* line 244, ../sass/grid.scss */
.col-5 {
  width: 99.6%;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 1em;
  margin: 0.2%;
  border: 1px solid white;
  color: white;
}
@media only screen and (min-width: 768px) {
  /* line 244, ../sass/grid.scss */
  .col-5 {
    width: 41.26667%;
    vertical-align: top;
  }
}

/* line 248, ../sass/grid.scss */
.col-6 {
  width: 99.6%;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 1em;
  margin: 0.2%;
  border: 1px solid white;
  color: white;
}
@media only screen and (min-width: 768px) {
  /* line 248, ../sass/grid.scss */
  .col-6 {
    width: 49.6%;
    vertical-align: top;
  }
}

/* line 252, ../sass/grid.scss */
.col-7 {
  width: 99.6%;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 1em;
  margin: 0.2%;
  border: 1px solid white;
  color: white;
}
@media only screen and (min-width: 768px) {
  /* line 252, ../sass/grid.scss */
  .col-7 {
    width: 57.93333%;
    vertical-align: top;
  }
}

/* line 256, ../sass/grid.scss */
.col-8 {
  width: 99.6%;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 1em;
  margin: 0.2%;
  border: 1px solid white;
  color: white;
}
@media only screen and (min-width: 768px) {
  /* line 256, ../sass/grid.scss */
  .col-8 {
    width: 66.26667%;
    vertical-align: top;
  }
}

/* line 260, ../sass/grid.scss */
.col-9 {
  width: 99.6%;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 1em;
  margin: 0.2%;
  border: 1px solid white;
  color: white;
}
@media only screen and (min-width: 768px) {
  /* line 260, ../sass/grid.scss */
  .col-9 {
    width: 74.6%;
    vertical-align: top;
  }
}

/* line 264, ../sass/grid.scss */
.col-10 {
  width: 99.6%;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 1em;
  margin: 0.2%;
  border: 1px solid white;
  color: white;
}
@media only screen and (min-width: 768px) {
  /* line 264, ../sass/grid.scss */
  .col-10 {
    width: 82.93333%;
    vertical-align: top;
  }
}

/* line 268, ../sass/grid.scss */
.col-11 {
  width: 99.6%;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 1em;
  margin: 0.2%;
  border: 1px solid white;
  color: white;
}
@media only screen and (min-width: 768px) {
  /* line 268, ../sass/grid.scss */
  .col-11 {
    width: 91.26667%;
    vertical-align: top;
  }
}

/* line 272, ../sass/grid.scss */
.col-12 {
  width: 99.6%;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 1em;
  margin: 0.2%;
  border: 1px solid white;
  color: white;
}
@media only screen and (min-width: 768px) {
  /* line 272, ../sass/grid.scss */
  .col-12 {
    width: 99.6%;
    vertical-align: top;
  }
}

/* line 4, ../sass/styles.scss */
body {
  min-height: 100vh;
  background: black;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 1, ../sass/typography.scss */
h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 22px;
}

/* line 5, ../sass/typography.scss */
h1, h2, h3, h4 {
  color: #648880;
}

/* line 9, ../sass/typography.scss */
h1 {
  font-size: 36px;
  line-height: 44px;
}

/* line 14, ../sass/typography.scss */
h2 {
  font-size: 24px;
  line-height: 44px;
}

/* line 19, ../sass/typography.scss */
h3 {
  font-size: 21px;
}

/* line 23, ../sass/typography.scss */
h4 {
  font-size: 18px;
}

/* line 27, ../sass/typography.scss */
h5 {
  color: #a9b2b9;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

/* line 34, ../sass/typography.scss */
strong {
  font-weight: 400;
}

/* line 38, ../sass/typography.scss */
cite, em {
  font-style: italic;
}

/* line 42, ../sass/typography.scss */
a {
  color: #648880;
  text-decoration: none;
}
/* line 43, ../sass/typography.scss */
a:hover {
  color: #a9b2b9;
}

/* line 1, ../sass/buttons.scss */
.btn {
  border-radius: 5px;
  display: inline-block;
  margin: 0;
}

/* line 7, ../sass/buttons.scss */
.btn-alt {
  border: 1px solid #dfe2e5;
  padding: 10px 30px;
}

/* line 13, ../sass/styles.scss */
.clearfix {
  clear: both;
  *zoom: 1;
}
/* line 15, ../sass/styles.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 19, ../sass/styles.scss */
.clearfix:after {
  clear: both;
}
