h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 22px;
}

h1, h2, h3, h4 {
  color: #648880;
}

h1 {
  font-size: 36px;
  line-height: 44px;
}

h2 {
  font-size: 24px;
  line-height: 44px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 18px;
}

h5 {
  color: #a9b2b9;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

strong {
  font-weight: 400;
}

cite, em {
  font-style: italic;
}

a {
  &:hover {
    color: #a9b2b9;
  }
  color: #648880;
  text-decoration: none;
}
